
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body ,html{
  height: 100%;
  width: 100%;  
}
.main{
     /* height: 100%; */
     width: 100%; 
    background-color:  #C2BAB1;
    overflow: hidden;
}
.page-1{
    height: 100%;
    width: 100vw;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 2vw;
    border-bottom: 2px solid black;
}
#logo-img{
    height: 20px;
    padding-right: 20px;

}
.left{
    color: #393733;
    font-size: 14px;
    font-weight: 100;
}
.page-1-elem{
    padding: 0px 2.5vw;
}
.top-elem{
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
}
.ele-img{

    height: 25vh;
    border: 1px solid black;
}

.ele-img img , .part-2-left-img-box img , .part-2-right-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.elem-1 , .elem-3{

    width: 30vw;
}
.elem-2{
    width: 20vw;
}
.elem-1 h5 , .elem-3 h5{
    display: flex;
    align-items: center;
    font-family: canopee;
    font-size: 33px;
    font-weight: 400;
    margin: 3vh 0px;
}
.elem-1 h5 span , .elem-3 h5 span{
background-color: rgba(213, 45, 45, 0.795);
border: none;
color: white;
font-size: 17px;
border-radius: 5px;
padding: 5px;
margin-left: 1.5vh;
}
.elem-1 p , .elem-3 p {
    font-size: 19px;
    font-family: Editorial New Light;
}
.vr-line{
    width: 1px;
    height: 45vh;
    background-color: #000000;
}

.elem-2{

     display: flex;
     flex-direction: column;
     align-items: center;
}
.elem-2 h1{
    margin-top: 2vh;
    font-family: canopee;
    font-size: 5vw;
    font-weight: 300;
    letter-spacing: -3px;
    word-spacing: --3px;
   
}
.elem-2  p{
    margin-top: 2vh;
font-weight: 400;
    font-family: Editorial New Light;
    font-size: 2.5vw;
  
}
.elem-2 div {
    margin-top: 2.5vh;
    font-weight: 200;
    font-size: 1.3vw;
}
.elem-2 div span {
   font-family: canopee;
}

.poster h1{
    padding: 25px 15px;
    border: 2px solid black;
    font-family: canopee;
    font-size: 580px;
   line-height: 450px;
   width: 100%;
    background: transparent;
    background-color:#1C1C1A;
   letter-spacing: -40px;
   font-weight: 80;
   color:#C4BDB3;
   margin-top: 6vh;

}
.part-2{
    width: 100%;
    padding: 0px 2.5vw;
    margin-top: 6vh;
    display: flex;
}
.part-2-left{
border: 2px solid black;
}
.part-2-left h1{
    font-family: canopee;
    font-size: 7vw;
   border: 2px solid black;
   width: 30vw;
   color: #1C1B19;
   line-height: 8.5vw;
   text-transform: uppercase;
   text-decoration: line-through 1px #AAA39B ;
}
.part-2-left span{
    font-size: 12vw;
}
.vr2-part2{
    width: 1px;
    background-color: #1C1B19;
    height: 156vh;
    margin: 0px 2.5vw;
}
.part-2-left-img-box{
    width: 30vw;
    height: 75vh;
    margin-top: 2vh;
    border: 2px solid black;
}
.part-2-left p {
    margin-top: 6vh;
    font-family: Editorial New Light;
width: 30vw;
font-size: 2vw;
}
.part-2-left p span{
  font-size: 7vw;
  padding: 3px;
  background-color:#1C1C1A;
  line-height: 4vw;
}
.part-2-right-img-box img{
    border: 1px solid black;
}
.part-2-right h1{
    margin-top: 6vh;
    font-family: canopee;
    text-decoration: line-through 1.5px #908B84 ;
    font-size: 8vw;
    word-spacing: -5px;
    letter-spacing: -6px;
    font-weight: 100;
    line-height: 7.5vw;
    color: #1C1C1A;
}